.div1{
	background-color: cadetblue;
	text-align: center;
	top: 200;
	filter: alpha(opacity = 60);
	-moz-opacity: 0.6;
	opacity: 0.6;
	
	width: 80%;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



body{
	text-align: center;
	background-image: url('./img/pic (25).jpg');
	
	filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
	-moz-background-size:100% 100%;  
	background-size:100% 100%; 
}

.div2{
	font-size: 15px;
	border: 1px solid royalblue;
	color: white;
	text-shadow: 3px 3px 3px #5555ff;
}

.div_last{
	font-size: 15px;
	border: 1px solid royalblue;
	color: darkblue;
	text-shadow: 3px 3px 3px #ff557f;
}
.div_doing{
	font-size: 14px;
	border: 1px solid royalblue;
	color: #00007f;
	text-shadow: 3px 3px 3px #55ffff;
}
.div_music{
	font-size: 14px;
	border: 1px solid royalblue;
	color: white;
	text-shadow: 3px 3px 3px black;
}
.title1{
	color: floralwhite;
	text-shadow: 3px 3px 3px #5555ff;
}

#p2{
	font-size: 12px;
	font-style: oblique;
	color: red;
}

#button1{
	font-size: small;
	color: blue;
}

.p1{
	text-decoration: line-through;
	color: #550000;
}

.pzwjs{
	text-align: left;
	margin-left: 15px;
	font-size: large;
	color: white;
	
}

.p_dt{
	text-align: left;
	margin-left: 15px;
	font-size: large;
	font-weight: bold;
	color: greenyellow;
}
.p_doing{
	text-align: left;
	margin-left: 15px;
	font-size: large;
	font-weight: bold;
	color: #0000FF;
}

.pmusicc{
	text-align: left;
	margin-left: 15px;
	font-size: large;
	color: white;
	font-weight: 650;
}

.birthday{
	color: #000000;
}

.date1{
	color: #4169E1;
	font-weight: bold;
	font-size: 20px;
	text-shadow: 3px 3px 3px white;
}


.p_bgm{
	text-align: left;
}